html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    background: #eee;
    padding: 20px;
    text-align: center;
}

.order {
    background: #820ecd !important;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

/*=========================*/

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

/* create pizza form */

.create-pizza {
    background: #f7f7f7;
    padding: 30px;
}

label,
select {
    display: block;
}

label {
    margin-top: 10px;
}

select {
    padding: 8px;
    width: 200px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

input[type=checkbox] {
    /*margin: 10px;*/
}

input[type=text] {
    padding: 8px;
    width: 180px;
}

button[type=submit] {
    background: #820ecd;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

/* pizza details page */

.pizza-details {
    background: #f7f7f7;
    padding: 20px;
}

p {
    margin: 20px 0;
    font-weight: bold;
}

button {
    background: #5e2195;
    padding: 8px 15px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

a.back {
    padding: 10px;
    width: 130px;
    display: block;
    text-align: center;
    margin: 30px auto;
    background: #fff;
    color: #820ecd;
    border: 1px solid #820ecd;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

/* pizza index page */

.pizza-item h1 {
    margin-bottom: 40px;
}

.pizza-item {
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
}
.pizza-item img{
    width: 60px;
    display: inline-block;
}

h4 {
    display: inline-block;
    font-weight: normal;
    margin-left: 20px;
}

a {
    color: #777;
    text-decoration: none !important;
}

